body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.header{
  padding: 30px;
  text-align: center;
  background-color: #1c1c1c;
  color: white;
}

.pageContent{
  background-color: #dedede;
  padding: 30px;
  min-height: 550px;
}

.footer {
  background-color: rgb(63, 63, 63);
  color: white;
  text-align: center;
  padding: 15px;
}


.cardsGrid{
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(4,1fr);
    display: grid;
    gap: 15px;
    width: fit-content;
    margin: 50px auto 30px auto;
}

.coverImage{
  width: 120px;
  position: absolute;
  display: block;
}


.cardItem{
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 5px solid #ff000000;

  transition: transform 0.5s;
  transform: rotateY(180deg);
  animation: 2s hideCard linear;
}

@keyframes hideCard {
  0%,70%{
    transform: rotateY(0deg);
  }
  100%{
    transform: rotateY(180deg);
  }
}

.cardItem img{
  width: 110px;
  transition: transform 0.5s;
  transform: scale(0);
  animation: 2s hideImage linear;
}

@keyframes hideImage {
   0%,70%{
    transform: scale(1);
   }
   100%{
    transform:scale(0)
   }
}


.cardItem.active {
  transform: rotateY(0);
}

.cardItem.correct{
  background-color: green;
  border: 5px solid green;
}

.cardItem.wrong{
  background-color: red;
  border: 5px solid red;

}


.cardItem.active img {
  transform: scale(1);
}


.playAgainBtn {
  background: #030c6c;
  border: 2px solid #fff;
  color:white;
  width:150px;
  height: 45px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.playAgainBtn:hover {
  background: #2c36a6;
}

.playAgainDiv {
  align-items: center;
  justify-content: center;
  display: flex;
}

.scoreArea{
  padding-left: 15px;
  padding-bottom: 10px;
  display: flex;
  background-color: #1c1c1c;
  color: white;
}
.scoreArea p{
  margin: 10px;
}